<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
 
</head>
<body>

   <div class = "wrapper">
   	 <div class="main">
   	 	<div class = "nav">
          <ul>

			  <div class="logo right-nav"><img src="static/logo.jfif" alt="logo" width="333px"></div>

          </ul>

   	 	</div>
   	 	<div class ="content">
   	 		<article class = "bord">
				<ul >
					<img src="static/a.png" class = "imglogo" alt="logo">
					<li><a class="dropdown-item" href="/add"> Add a new Customer</a></li>
					<li><a class="dropdown-item" href="/add2">Add a new Booking</a></li>
					</ul>
   	 		</article>
   	 		<article class = "bord">
						<ul >
							<img src="static/db.png" class = "imglogo" alt="logo">
						  <li><a class="dropdown-item" href="/view"> View All Customers</a></li>
						  <li><a class="dropdown-item" href="/view2">View All Bookings</a></li>

						</ul>

   	 		</article>

   	 		<article class = "bord">
				<ul >
					<img src="static/d.png" class = "imglogo" alt="logo">
					<li><a class="dropdown-item" href="/delete">Delete a Customer Record</a></li>
					<li><a class="dropdown-item" href="/delete2">Delete a Booking</a></li>
					</ul>
   	 		</article>
				<article class = "bord">
				<ul >
					<img src="static/u.png" class = "imglogo" alt="logo">
	         		<li><a class="dropdown-item" href="/update"> Update Customer Record</a></li>
					<li><a class="dropdown-item" href="/update2"> Update Booking Record</a></li>

				  </ul>
				</article>


        </div>
   	 </div>
    </div>

	<footer class="text-footer">
        Copyright &copy; 2023 Droame
    </footer>
</body>
</html>